<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.checkoff.mapper.OffTerminalStatusMapper">

    <select id="getOffterminalCount" resultType="OffTerminalCount">
        SELECT DATETIME(TIMESTAMP/1000,'unixepoch','localtime') as timestamp ,COUNT(TIMESTAMP) AS offTerminalCount
        FROM OffTerminals
        WHERE TIMESTAMP >= (SELECT STRFTIME('%s', 'now')*1000-60000)
        GROUP BY TIMESTAMP
    </select>

    <select id="getOffterminalManufactor" resultType="OffTerminalManufactor">
        SELECT ZDCJ as manufactor, COUNT(ZDCJ) as offTerminalCount
        FROM "OffTerminals"
        WHERE TIMESTAMP = (SELECT MAX(TIMESTAMP) FROM OffTerminals)
        GROUP BY ZDCJ
    </select>

    <select id="getOffterminalSegment" resultType="OffTerminalSegment">
        SELECT ZDLB as netSegment, COUNT(ZDLB) as offTerminalCount
        FROM "OffTerminals"
        WHERE TIMESTAMP = (SELECT MAX(TIMESTAMP) FROM OffTerminals)
        GROUP BY ZDLB
    </select>

    <select id="getOffterminalMap" resultType="OffTerminalMap">
        SELECT ZDDZ as location, COUNT(ZDDZ) as offTerminalCount
        FROM "OffTerminals"
        WHERE TIMESTAMP = (SELECT MAX(TIMESTAMP) FROM OffTerminals)
        GROUP BY ZDDZ
    </select>

    <select id="getOffterminalCategory" resultType="OffTerminalCategory">
        SELECT ZDLX as category, COUNT(ZDLX) as offTerminalCount
        FROM "OffTerminals"
        WHERE TIMESTAMP = (SELECT MAX(TIMESTAMP) FROM OffTerminals)
        GROUP BY ZDLX
    </select>

    <select id="getOffTerminalSegTimeSequence" resultType="OffTerminalCount">
        SELECT DATETIME(TIMESTAMP/1000,'unixepoch','localtime') as timestamp,COUNT(ZDLB) as offTerminalCount
        FROM "OffTerminals"
        WHERE ZDLB = #{segment} AND TIMESTAMP>= (SELECT STRFTIME('%s', 'now')*1000-60000)
        GROUP BY TIMESTAMP
        ORDER BY TIMESTAMP
    </select>


</mapper>
