<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.checkservice.mapper.PacketCheckMapper">


    <select id="getPacketCount" resultType="com.cxy.checkservice.entity.vo.PacketCountVo">
        SELECT afn,COUNT(*) as count
        FROM "test_v1"
        where ts > (SELECT MAX(ts) FROM "test_v1") - 2
        GROUP BY afn
    </select>

    <select id="getUnqualifiedPacketCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as unqualifiedCount
        FROM "test_v1"
        where afn = -1
        AND ts > (SELECT MAX(ts) FROM "test_v1") - 2
    </select>

    <select id="getQualifiedPacketCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as qualifiedCount
        FROM "test_v1"
        where afn != -1
        AND ts > (SELECT MAX(ts) FROM "test_v1") - 2
    </select>


    <select id="getDiffrentAfnCount" resultType="com.cxy.checkservice.entity.vo.Afn">
        SELECT f.afn,COUNT(*) as count
        FROM (SELECT ts,afn
            FROM "test_v1"
            where ts > (SELECT MAX(ts) FROM "test_v1") - ${startTime}
            AND ts &lt; (SELECT MAX(ts) FROM "test_v1") - ${endTime}
            AND test_v1.afn != -1) AS f
        GROUP BY f.afn
    </select>

    <select id="getTime" resultType="java.lang.String">
        SELECT DATETIME(MAX(ts)- ${second},'unixepoch','localtime') as ts
        FROM "test_v1"
    </select>


    <select id="getUnqualifiedDetails" resultType="com.cxy.checkservice.entity.vo.PacketDetailsVo">
        SELECT flag,DATETIME(ts,'unixepoch','localtime') as ts,srcip,srcport,dstip,dstport,afn
        FROM "test_v1"
        WHERE afn = -1
        AND ts > (SELECT MAX(ts) FROM "test_v1") - 5
    </select>

    <select id="getAfnList" resultType="java.lang.Integer">
        SELECT afn
        FROM(
                SELECT timeStamp,SUBSTR(timeStamp,0,19)||(floor(cast(SUBSTR(timeStamp,19) as int)/${second})*${second}) flag,afn,SUM(nums)
                from
                    (
                    SELECT DATETIME(ROUND(ts,0),'unixepoch','localtime') timeStamp,afn,COUNT(*) nums
                    FROM "test_v1"
                    where afn>=0
                    GROUP BY timeStamp,afn
                    )
                GROUP BY afn,flag
                ORDER BY timeStamp)
        GROUP BY afn
    </select>

    <select id="getTimeList" resultType="java.lang.String">
        SELECT flag as timeStamp
        FROM(
            SELECT timeStamp,SUBSTR(timeStamp,0,19)||(floor(cast(SUBSTR(timeStamp,19) as int)/${second})*${second}) flag,afn,SUM(nums)
            from
            (
            SELECT DATETIME(ROUND(ts,0),'unixepoch','localtime') timeStamp,afn,COUNT(*) nums
            FROM "test_v1"
            where afn>=0
            GROUP BY timeStamp,afn
            )
            GROUP BY afn,flag
            ORDER BY timeStamp)
        GROUP BY flag
    </select>

    <select id="getAnfCountList" resultType="java.lang.Integer">
        SELECT cnt
        FROM(
                SELECT timeStamp,SUBSTR(timeStamp,0,19)||(floor(cast(SUBSTR(timeStamp,19) as int)/${second})*${second}) flag,afn,SUM(nums) as cnt
                from
                    (
                    SELECT DATETIME(ROUND(ts,0),'unixepoch','localtime') timeStamp,afn,COUNT(*) nums
                    FROM "test_v1"
                    where afn>=0
                    GROUP BY timeStamp,afn
                    )
                GROUP BY afn,flag
                ORDER BY timeStamp)
        WHERE afn = ${afnSingle}
    </select>

    <select id="getSpecialCountList" resultType="com.cxy.checkservice.entity.vo.Afn">
        SELECT afn,cnt,COUNT(*) as countNum
        FROM(
                SELECT timeStamp,SUBSTR(timeStamp,0,19)||(floor(cast(SUBSTR(timeStamp,19) as int)/${second})*${second}) flag,afn,SUM(nums) as cnt
                from
                    (
                    SELECT DATETIME(ROUND(ts,0),'unixepoch','localtime') timeStamp,afn,COUNT(*) nums
                    FROM "test_v1"
                    where afn>=0
                    GROUP BY timeStamp,afn
                    )
                GROUP BY afn,flag
                ORDER BY timeStamp)
        WHERE afn = ${afnSingle}
        AND timeStamp = '${timeSingle}'
    </select>


    <select id="getAfnTotalCount" resultType="java.lang.Integer">
        SELECT SUM(cnt)
        FROM(
                SELECT timeStamp,SUBSTR(timeStamp,0,19)||(floor(cast(SUBSTR(timeStamp,19) as int)/${second})*${second}) flag,afn,SUM(nums) AS cnt
                from
                    (
                    SELECT DATETIME(ROUND(ts,0),'unixepoch','localtime') timeStamp,afn,COUNT(*) nums
                    FROM "test_v1"
                    where afn>=0
                    GROUP BY timeStamp,afn
                    )
                GROUP BY afn,flag
                ORDER BY timeStamp)
        WHERE afn = ${afnSingle}
    </select>


    <select id="countNonNull" resultType="java.lang.Integer">
        SELECT COUNT(*) as countNum
        FROM(
                SELECT timeStamp,SUBSTR(timeStamp,0,19)||(floor(cast(SUBSTR(timeStamp,19) as int)/${second})*${second}) flag,afn,SUM(nums) as cnt
                from
                    (
                    SELECT DATETIME(ROUND(ts,0),'unixepoch','localtime') timeStamp,afn,COUNT(*) nums
                    FROM "test_v1"
                    where afn>=0
                    GROUP BY timeStamp,afn
                    )
                GROUP BY afn,flag
                ORDER BY timeStamp)
        WHERE afn = ${afnSingle}
          AND timeStamp = '${timeSingle}'
    </select>


</mapper>
